body {

}

html { 
	background: url(image/wpPhoenix.jpg) no-repeat center fixed; 
	background-color: black;
	background-size: cover;
}

header {
	text-align: center;
}

h1 {
	color: white;
	font-family: sans-serif;
	font-size: 64px;
	
	background-image: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

h2 {
	color: white;
	font_family: sans-serif;
	font-size: 32px;
}

div {
	text-align: center;
	color: white;
}

footer {
	text-align: center;
	font-family: sans-serif;
	color: white;
	font-size: 12px;
	
	bottom: 0;
	position: fixed;
	width: 100vw;
}

/* Link grid layout */

.link-grid-container {
	height: 50vh;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-gap: 5px;
}

.link-grid-item {	
	text-align: center;
	font-family: sans-serif;
	color: white;
	font-size: 32px;
}

a:link, a:visited {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	min-width: 5em;
	min-height: 2em;
	line-height: 2em;
}

a:hover, a:active {
	background-color: rgba(0, 0, 0, 0.7);
	text-decoration: underline;

/* Article grid layout*/
.article-grid-container {
	display: grid;
	grid-template-areas: 
    'picture text';
	grid-template-columns: 10vw auto;
	grid-column-gap: 10pxp;
}

.article-grid-picture {
	grid-area: picture;
}

.article-grid-text {
	grid-area: text;
	padding: 10px;
	font-size: 16px;
	color: white;
}

/* Default page layout */

.grid-container {
	display: grid;
	grid-template-areas: 
    'empty header' 
    'left middle';
	grid-template-columns: 20vw auto 10vw;
	grid-column-gap: 10px;
}

.header {
	grid-area: header;
	padding: 30px;
	text-align: center;
	font-size: 32px;
}

.left {
	padding: 10px;
	grid-area: left;
	height: 50vh;
}

.middle {
	padding: 10px;
	grid-area: middle;
	background-color: rgba(0, 0, 0, 0.4);
}

}

* {
	box-sizing: border-box;
}